notebooks/
*__pycache__/
lightning_logs/
.ipynb_checkpoints/
*.ipynb
*.keytab
*.pyc
*.
*.ckpt
*.parquet
lightning-hydra-template/
awkward_data/
models/__pycache__/
reweighted_samples/
boost_hepml/
particle_transformer/
saved_plots/
wandb/ 
train_tensorflow/
